[common]
port = 8081
mapquest_key = 

[mysql]
host = localhost
port = 3306
username = 
password = 
schema = phileas

[instagram]
client_id = 
secret =  
access_token = 

[google]
browser_key = 
server_key =
