
<!DOCTYPE html>
<html>
	<head>
		<title>{{ .title }}</title>
		<meta name="viewport" content="initial-scale=1.0">
		<meta charset="utf-8">
		<style>
			html, body {
				height: 100%;
				margin: 0;
				padding: 0;
			}
			#map {
				height: 100%;
			}
		</style>
	</head>
	<body>
		<div id="map"></div>
		<script>
			var map;
			var infowindow;
			
			function initMap() {
				infoWindow = new google.maps.InfoWindow();
				
				map = new google.maps.Map(document.getElementById('map'), {
					center: {lat: 0, lng: 0},
					zoom: 3
				});
				map.data.loadGeoJson('top.json');

				map.data.addListener('click', function(event) {
					infoWindow.setContent('<img src="static/ellipsis.svg" />')
					infoWindow.setOptions({pixelOffset: new google.maps.Size(0,-30)});
					infoWindow.setPosition(event.feature.getGeometry().get());
					infoWindow.open(map);

					$.ajax({
						url: 'loc/' + event.feature.getProperty("id"),
						success: function(data) {
							infoWindow.setContent(
								'<h3>'
								+ event.feature.getProperty("name") 
								+ '</h3><p>' 
								+ data 
								+ '</p>'
							);
						}
					});
				});

				if (navigator.geolocation) {
					navigator.geolocation.getCurrentPosition(function(position) {
						var pos = {
							lat: position.coords.latitude,
							lng: position.coords.longitude
						};

						map.setCenter(pos);
					})
				}
			}

			
		</script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key={{ .key }}&callback=initMap"
		async defer></script>
	</body>
</html>
